body{
    margin: 0;
    font-family: sans-serif;
    background-color: aliceblue;
    color: black;
    scroll-behavior: smooth;
}

/* untuk barnya */
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.05);
    padding: 12px 35px;
    color: white;
    top: 0;
    z-index: 999;
}

.logo{
    color:black;
}

nav {
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 6px 14px;
    scroll-behavior: smooth;
}

@media only screen and (max-width:600px) {
    .header-main{
        flex-direction: column;
    }
    
    nav{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav a{
        border: 2px solid black;
        border-radius: 10px;
    }
}

.bannerku{
    background-image: url(/assets/forbannerku.avif);
    background-size: cover;
    background-position: center;
    height: 380px;
    position: relative;
}

@media only screen and (max-width:600px){
    .bannerku{
        height: 200px;
    }
}

@media only screen and (max-width:480px){
    .bannerku{
        height: 150px;
    }
}

.text-for-user{
    text-align: center;
    margin-top: 60px;
}

.portofolio-container{
    text-align: center;
}

.logo2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-content{
    display: flex;
    justify-content: center;
}

.profile-container{
    border: 2px solid;
    height: 500px;
    width: 80%;
    margin-top: 120px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width:600px) {

    .profile-container{
        margin-top: 50px;

    }
    
}

.logo-profile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

html{
    scroll-behavior: smooth;
}

#contact{
    display: flex;
    justify-content: center;
}